.container {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
  }
  
  .heading-text {
    background-color: #a7e099;
    color: rgb(1, 53, 1);
    font-size: 18px;
    width: 200%; 
    padding: 20px;
  }
  
  .form {
    color: rgb(1, 53, 1);
    width: 300px;
    font-size: 14px;
    display: flex;
    flex-direction: column; 
    border: 1px solid rgb(1, 53, 1);
    
    padding: 10px;
  }
  
  
  .form label,
  .form input {
    margin-bottom: 10px;
  }
  
  form input {
    background-color: #fff;
    
  }
  .form label {
    font-weight: bold;
  }
  .button {
    background-color: #012902;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #566809;
  }
  